@use '@/styles/theme' as *;

#program-page {
    .program-flow {
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 16px;

        .days {
            display: flex;
            justify-content: center;
            gap: 16px;

            .day {
                display: flex;
                flex-direction: column;
                gap: 16px;

                width: 30%;
                flex-grow: 1;

                .slot {
                    display: flex;
                    flex-grow: 1;

                    height: 220px;

                    border: 2px solid $grey-300;
                    border-radius: 8px;

                    &.empty {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &.conference {
                        display: flex;
                        flex-direction: column;

                        padding: 24px;

                        .top {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;

                            .actions {
                                display: flex;
                                gap: 8px;
                            }
                        }

                        p.name {
                            margin-bottom: 16px;

                            font-size: $size-24;
                        }

                        P.room, p.schedule, p.description {
                            span {
                                font-weight: 500;
                            }
                        }

                        p.description {
                            height: 42px;
                            margin-bottom: 8px;

                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .bottom {
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;

                            margin-top: auto;

                            .participants {
                                display: flex;
                                gap: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}