@use '@/styles/theme' as *;

.alert {
    padding: $size-12 $size-16;

    border: 1px solid;
    border-radius: $radius;
    background-color: $grey-0;

    &.destructive {
        color: $red-500;
        border-color: $red-300;

        &.filled {
            border: none;
            color: $grey-0;
            background-color: $red-500;
        }
    }
}