@use '@/styles/theme' as *;
@use '@/styles/animations' as *;

.modal-backdrop {
    position: fixed;
    z-index: 10000;
    inset: 0;

    background-color: rgba(0, 0, 0, .2);

    animation: $pop-up-animation;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 97vw;
    max-height: 95vh;

    border-radius: $radius;
    background-color: $grey-0;
    box-shadow: $box-shadow-light;
    outline: none;

    overflow: hidden;
}