@use '@/styles/theme' as *;

.search-select {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    width: 200px;

    label {
        font-weight: 500;
    }

    .select-button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        height: $form-field-size;
        padding: $size-8 12px;

        border: 1px solid $grey-300;
        border-radius: $radius;

        svg {
            color: $grey-700;
        }

        cursor: pointer;

        transition: .2s ease;

        &:hover, &:has(input:focus-visible) {
            border-color: $grey-700;

            transition: .2s ease;
        }

        input {
            width: 100%;
        }
    }
}

.search-select-options {
    max-height: 350px;
    padding: 8px;

    overflow-y: auto;

    border-radius: $radius;
    background-color: $grey-0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);

    &:has(.option:hover) {
        .option.selected {
            background-color: unset;

            &:hover {
                background-color: $grey-100;
            }
        }
    }

    .option {
        display: flex;
        align-items: center;

        padding: 8px;

        border-radius: $radius;

        word-break: break-word;
        
        transition: .2s ease;

        &:hover, &:focus-visible {
            background-color: $grey-100;

            cursor: pointer;
            transition: .2s ease-out;
        }

        &.selected {
            background-color: $grey-100;
        }
    }

    .empty-option {
        padding: 8px;
    }
}