@use '@/styles/theme' as *;

#speakers-page {
    .speakers-flow {
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 16px;

        .header {
            display: flex;

            padding-bottom: 16px;

            border-bottom: 1px solid $grey-300;

            .filters {
                display: flex;
                gap: 16px;
            }
        }

        .speakers {
            display: flex;
            gap: 16px;

            .speaker {
                display: flex;
                flex-direction: column;
                gap: 16px;

                width: 400px;
                padding: 24px;

                border: 1px solid $grey-300;
                border-radius: 4px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .actions {
                        display: flex;
                        gap: 8px;
                    }
                }

                p.name {
                    font-size: $size-20;
                }

                P.biography {
                    color: $grey-700;
                }
            }
        }
    }
}